site_name: Cascade Developer Documentation

repo_name: biggaboy212/Cascade
repo_url: https://github.com/biggaboy212/Cascade
edit_uri: edit/main/docs

markdown_extensions:
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true

  - pymdownx.superfences
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences
  - pymdownx.details
  - pymdownx.tasklist
  - admonition
  - attr_list

plugins:
- search
- awesome-nav

theme:
  name: material

  icon:
    repo: fontawesome/brands/github
    edit: material/pencil
    view: material/eye

  palette:
    - scheme: default
      primary: light blue
      accent: light blue
      toggle:
        icon: material/toggle-switch-off-outline
        name: Switch to dark mode
    - scheme: slate
      primary: light blue
      accent: light blue
      toggle:
        icon: material/toggle-switch
        name: Switch to light mode
  font:
    text: Roboto
    code: Roboto Mono
  favicon: assets/favicon.png
  logo: assets/logo.svg

  features:
    - navigation.instant
    - navigation.instant.progress
    - navigation.tracking
    - navigation.sections
    - navigation.expand
    - navigation.path
    - navigation.indexes
    - navigation.top
    - navigation.footer

    - toc.follow

    - search.suggest

    - content.action.edit
    - content.action.view

    - content.code.copy
    - content.code.select
    - content.code.annotate

extra:
  generator: false

  social:
    - icon: fontawesome/brands/github
      link: https://github.com/biggaboy212/Cascade

    - icon: fontawesome/brands/discord
      link: https://discord.gg/2cB4vBAEWk
extra_css:
  - assets/styles/extra.css
